body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f8;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: #1e272e;
    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
}

.sidebar a:hover {
    background: #485460;
    padding: 5px;
}

.main {
    margin-left: 220px;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #0fbcf9;
    color: white;
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: 10px;
}

form input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #05c46b;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0be881;
}